//Vars
$desktop: 48em;
// reset.scss
* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

// Remove default margin and padding
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
figure,
blockquote,
fieldset,
legend {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
}

a,
button {
  cursor: pointer;
}
img {
  max-width: 100%;
  height: auto;
}

//Buttons
.bt{
  border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  font-weight: 600;
  margin-left: .45em;
  padding: 0.56em 2em;
  &:first-child{
    margin: 0;
  }
  &-color_clean{
    color: #fff;
  }
  &-danger{
    background-color: #e74c3c;
    border-color: #e74c3c;
    &:hover{
      background-color: #c0392b;
      border-color: #c0392b;
    }
  }
  &-primary{
    background-color: #3498db;
    border-color: #3498db;
    &:hover{
      background-color: #2980b9;
    }
  }
  &-success{
    background-color: #2ecc71;
    border-color: #2ecc71;
    &:hover{
      background-color: #27ae60;
    }
  }
  @media(width > $desktop){
    font-size: 1em;
  }
}

//Status
.status{
  border-radius: 3em;
  -webkit-border-radius: 3em;
  -moz-border-radius: 3em;
  -ms-border-radius: 3em;
  -o-border-radius: 3em;
  color: #fff;
  display: inline-block;
  font-size: 0.75em;
  font-weight: 600;
  padding: 0.56em 1.5em;
  &-blue{
    background-color: #3498db;
  }
  &-orange{
    background-color: #e67e22;
  }
  &-red{
    background-color: crimson;
  }
  &-dark_blue{
    background-color: #34495e;
  }
}
