<div class="card-tarefas">
  <div class="card-tarefas_header">
    <h2>Tarefas da semana</h2>
  </div>
  <div class="card-tarefas_body">
    <table class="table">
      <thead>
        <tr>
          <th>Tarefa</th>
          <th>Data de início</th>
          <th>Data de conclusão</th>
          <th>Status atual</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tarefa of tarefas">
          <td>{{ tarefa.nome }}</td>
          <td>{{ tarefa.dataInicio }}</td>
          <td>{{ tarefa.dataConclusao }}</td>
          <td>
            <span [ngClass]="{
              'status': true,
              'status-blue': tarefa.status === 'Em andamento',
              'status-green': tarefa.status === 'Concluída',
              'status-orange': tarefa.status === 'Pausada',
              'status-red': tarefa.status === 'Atrasada'
            }">{{ tarefa.status }}</span>
          </td>
          <td>
            <button class="bt bt-color_clean bt-success">Concluir</button>
            <button class="bt bt-color_clean bt-primary">Editar</button>
            <button class="bt bt-color_clean bt-danger">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
