<header class="topo">
  <div class="topo-container">
    <div class="logo-container">
      <h1>TaskMaster</h1>
    </div>
    <div class="task-container">
      <p>Tarefa sendo executada no momento: {{ (tarefaEmAndamento$ | async)?.nome || 'Nenhuma' }}</p>
      <p>Tempo de execução esperado: {{ (tarefaEmAndamento$ | async)?.tempoDeExecucao || 'N/A' }}</p>
    </div>
    <div class="container-actions">
      <img src="https://static.vecteezy.com/ti/vetor-gratis/p3/11186876-simbolo-de-foto-de-perfil-masculino-vetor.jpg" alt="foto-perfil" />
    </div>
  </div>
</header>
